
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Выбери действие</h2>
@Html.ActionLink("Редактировать биллборды", "EditBillboard")
<br>@Html.ActionLink("Редактировать пользователей", "EditUser")

