body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.billboards {
    border: none;
    height: 500px;
    width: 1000px;
    margin: auto;
}

.gmap {
    height: 100%;
    width: 70%;
    float: left;
    align-content: center;
    border-radius: 7px 7px 7px 7px;
}

.blist {
    height: 100%;
    width: 30%;
    float: right;
}

.billboardContainer::-webkit-scrollbar {
    width: 0px;
}

.billboard {
    border: none;
    height: auto;
    width: 100%;
    margin: auto;
    margin-left: 2px;
    box-sizing: border-box;
    padding: 12px;
    margin-bottom: 10px;
    cursor: pointer;
}

.billboard:last-child {
    margin-bottom: 0;
}

.billboard:hover, .billboard.active {
    background-color: #e9ecef;
}

.billboardMenu {
    text-align: center;
    float: left;
    border: none;
    border-radius: 7px 7px 0px 0px;
    height: 30px;
    width: 50%;
    margin-bottom: 2px;
    cursor: pointer;
    padding: 5px;
}



.billboardContainer {
    height: calc(100% - 31px);
    width: 100%;
    float: right;
    border-radius: 0px 0px 7px 7px;
    background: #F5F5F5;
    overflow-y: scroll;
}

#googleMap {
    width: 100%;
    height: 100%
}

#logo {
    float: left;
}