@{
    ViewBag.Title = "About";
}

<p></p>
<h1>О компании</h1>
<p>Мы работаем для вас с 2018 года. Компания с <i>многолетней</i> историей и опытом работы в передовых областях.</p>
<p>Если хотите быстро и удобно заказать билборд - обращайтесь к нам!</p>

