@{
    ViewBag.Title = "Contact";
}

<h1>О разработчике</h1>
<h3>Миртов Сергей Павлович</h3>
<address>
    Томский Политехнический Университет<br/>
    Телефон: <a href="tel:79138805445">+7(913)880-54-45</a>
</address> 

<address>
    <strong>По вопросам сотрудничества:</strong> <a href="mailto:mirtovsb@gmail.com">mirtovsb@gmail.com</a><br />
</address>